<h1>New user</h1>
<ul>
  <% flash.each do |key, value| %>
    <% value.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <% end %>
</ul>
<form action='/users/new' method='post'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="text" name="user[first_name]" placeholder="first name" />
  <input type="text" name="user[last_name]" placeholder="last name"/>
  <input type="email" name="user[email_address]" placeholder="email" />
  <input type="password" name="user[password]" placeholders="password" />
  <input type='submit' value='create user'>
</form>
<a href="/">Back</a>
