<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
		<form>
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

			Name:<input placeholder="<%= @user %>">
			<input type='submit' value = 'click here'>
		</form>
</body>
</html>