<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
	<h3>Random Word Generator(attempt #<%=@count%></h3>
	<p><%=@random%></p>
	<a href="/">Generate</a>
</body>
</html>





<p><small>p.s. hire me</small></p>