<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Edit Page</h1>

	<% if flash %>
		<%= flash[:errors] %>
	<% end %>

	<%= render partial: 'form' %>

	<%= link_to 'Back', :back %>


</body>
</html>