<!DOCTYPE html>
<html>
<head>
	<title>Show User Page</title>
</head>
<body>
	<h3>First name: <%=@user.first_name%></h3>
	<h3>Last name: <%=@user.last_name%></h3>
	<h3>Email:<%=@user.email_address%></h3>

</body>
</html>