<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action='/users/update' method='post'>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

	<input type='text' name='user[email]'>
	<input type='text' name='user[password]'>
	<input type='submit' name='register'>

	</form>

	<% if flash[:errors] %>
		<%= flash[:errors] %>
	<% end %> 
</body>
</html>