<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<form action='/process_number' method='post'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<h2>Welcome to the great number game</h2>
			<h3>Im thinking of a number between 1-100. <br> Take a guess</h3>

			<input type='number' name='num' min='1' max='100'>
			<input type='submit' value='Guess'>
		</form>

		<% if flash %>
			<%= flash[:notice] %>
		<% end %>
	</body>
</html>