<form action="/users/create" method="POST">
	<input name="authenticity_token" value="<% form_authenticity_token %>" type="hidden">
	<label>Create Random name to add to User database.... </label>
	<input type="submit" value="Create Name">
</form>
